@{
    @model Turbino.Application.Home.GetProfile.GetProfileViewModel
}

<div class="tour-title not-fixed center-image">
    <img class="w-100 h-100" src="../assets/images/search.jpg" alt="">
    <h1 class="white text-center front shadow-text center-text">@User.Identity.Name's profile data</h1>
    <img class="curve2 d-none d-xl-block" src="assets/svgs/curve.svg" alt="">
</div>

<section id="section3" class="tour-list-sidebar tour-list-sidebar-2-col">
    <div asp-validation-summary="ModelOnly">  
    </div>
    <form id="sidebar-form" class="px-xl-5 px-lg-3 px-4"
          method="post"
          asp-controller="Home"
          asp-action="UpdateProfile">
        @if (Model.Errors.Length != 0)
        {
            @foreach (var error in Model.Errors)
            {
                <p class="text-danger">@error</p>
            }
        }
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input asp-for="@Model.FirstName" type="text" class="form-control" id="inputEmail3" placeholder="First name...">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input asp-for="@Model.MiddleName" type="text" class="form-control" id="inputEmail3" placeholder="Middle name...">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input asp-for="@Model.LastName" type="text" class="form-control" id="inputEmail3" placeholder="Last name...">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input asp-for="@Model.PhoneNumber" type="text" class="form-control" id="inputEmail3" placeholder="Phone number...">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn col-sm-12 my-2 btn-primary">
                    Update
                </button>
            </div>
        </div>
    </form>
</section>