
@{
    @model Turbino.Application.Tours.Queries.SelectById.TourViewModel
    ViewData["Title"] = "Default";
}
<h4 class="black bold mt-3 px-4 pb-2 text-center">Book this tour</h4>

<form asp-controller="Tour"
      asp-action="Book"
      method="post"
      asp-route-tourId="@Model.Id"
      asp-route-arrivalDate="@Model.ArrivalDate"
      asp-route-dateOfLeaving="@Model.DateOfLeaving"
      asp-route-reserverName="@Model.ReserverName"
      id="sidebar-form" class="px-xl-3 px-lg-3 px-3">

    <div class="form-group text-center">
        <label class="" for="inputname">Sir/Madam</label>
        <input asp-for="@Model.ReserverName" type="text" class="form-control" id="inputname" placeholder="John Doe">
    </div>

    <div class="form-group text-center departure">
        <label class="" for="datepicker">Departure Date</label>
        <div class="input-group">
            <input asp-for="@Model.ArrivalDate" type="date" id="datepicker" placeholder="Choose your Date" class="form-control">
            @*<div class="input-group-append">
                    <div class="input-group-text"><i class="fas fa-calendar"></i> </div>
                </div>*@
        </div>
    </div>

    <div class="form-group text-center departure">
        <label class="" for="datepicker">Date of Leaving</label>
        <div class="input-group">
            <input asp-for="@Model.DateOfLeaving" type="date" id="datepicker" placeholder="Choose your Date of leaving" class="form-control">
            @*<div class="input-group-append">
                    <div class="input-group-text"><i class="fas fa-calendar"></i> </div>
                </div>*@
        </div>

    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn col-sm-12 my-2 btn-primary">Book Now</button>
        </div>
    </div>
</form>
<p class="text-danger">@ViewData["Error"]</p>

