@{
    ViewData["Title"] = "Index";
    @model Turbino.Application.Tours.Queries.GetAllDestinations.GetAllToursListViewModel
}

<div class="tour-title not-fixed center-image">

    <img class="w-100 h-100" src="../assets/images/search.jpg" alt="">
    <h1 class="white text-center front shadow-text center-text">Find your Tour</h1>
    <img class="curve2 d-none d-xl-block" src="../assets/svgs/curve.svg" alt="">

</div>
<!-- End section 1-->
<!-- Section 3 Tours-->

<section id="section3" class="tour-list-sidebar tour-search-3-cols-card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-3 order-lg-first order-last mt-4 mt-lg-0">
                <div class="form-container py-3">
                    <h4 class="black bold mt-3 px-4 pb-2 text-center">Search your Tour</h4>
                    <form asp-antiforgery="true" asp-controller="Tour" asp-action="Filter" method="get" id="sidebar-form" class="px-xl-5 px-lg-3 px-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input asp-for="@Model.TourName" type="text" class="form-control" id="inputEmail3" placeholder="Search Tours">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <select asp-for="@Model.Month" class="form-control" id="inlineFormInputName1">
                                        <option selected>Any month</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="Octuber">Octuber</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-calendar"></i>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <select asp-for="@Model.TourType" class="form-control" id="inlineFormInputName2">
                                        <option selected>Tour Type</option>
                                        <option value="Adventure">Adventure</option>
                                        <option value="Romantic">Romantic</option>
                                        <option value="Vacation">Vacation</option>
                                        <option value="Explore">Explore</option>
                                    </select>
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fas fa-chevron-down"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <select asp-for="@Model.SortOrder" class="form-control" id="inlineFormInputName3">
                                        <option selected>Sort by Name</option>
                                        <option value="1">Price low to high</option>
                                        <option value="2">Price high to low</option>
                                        <option value="3">Sort by Date</option>
                                    </select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="fas fa-sort-amount-up"></i>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input asp-for="@Model.DestinationName" class="form-control py-2 border-right-0 border" type="search" placeholder="Destination" id="example-search-input">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="far fa-compass"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="d-block">
                                    <p class=" text-center">
                                        <label class="text-center" for="amount">Price range:</label>
                                        <input asp-for="@Model.PriceStr" class="text-center" type="text" id="amount" readonly>
                                    </p>
                                </div>
                                <div id="slider-range"></div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn col-sm-12 my-2 btn-primary">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="CreateTour" class="btn col-sm-12 my-2 btn-primary">Add New</a>
                }

                <div class="more-info mx-auto my-4">
                    <h6 class="black semibold text-center mx-4 mt-3 mb-3 info-title">Quick Contact</h6>
                    <div class="pb-2">

                        <a href="tel:+133331111"><h5 class="grey text-center tel-info"><i class="fas primary-color fa-phone faa-tada animated mr-2 grey my-lg-0 mb-1"></i>(+1) 3333.1111</h5></a>
                        <a href="mailto:hello@ourcompany.com"><h5 class="grey text-center mail-info"><i class="fas fa-envelope faa-horizontal animated primary-color mr-2"></i>hello@ourcompany.com</h5></a>
                    </div>
                </div>

                <a href="#"><img src="../assets/images/promotion.jpg" class="w-100 img-fluid mx-auto d-block mt-4" alt=""></a>

            </div>
            @{int counter = 0; int numberToClose = 0;}
            @for (int i = 0; i < Model.Tours.Count; i++)
            {
                @if (counter == 0 || counter % 4 == 0)
                {
                    @Html.Raw("<div class=\"col-xs-12 col-sm-12 col-md-4 col-lg-3\">");
                }

                <div class="card mb-4">
                    <a class="img-card" asp-controller="Tour" asp-action="Inquire" asp-route-tourId="@Model.Tours[i].Id">
                        <small class="white front tiny"><span class="far fa-clock mr-2 white"></span>@Model.Tours[i].Duration<br>day</small>
                        <div class="review-card">
                            @for (int j = 0; j < Model.Tours[i].Rating; j++)
                            {
                                <i class="fas fa-star"></i>
                            }
                            <span class="tiny white">@Model.Tours[i].Reviews review(s)</span>
                        </div>
                        <div class="bottom-tour-background"></div>
                        <img src="@Model.Tours[i].ImgUrl" alt="" />
                    </a>
                    <div class="card-content">
                        <div class="row align-items-center">
                            <div class="col-7">
                                <h6 class="black mb-2"><a href="#" target="_blank">@Model.Tours[i].Name</a></h6>
                            </div>
                            <div class="col-5 align-middle">
                                <h6 class="primary-color text-right ">$@Model.Tours[i].Price</h6>
                            </div>
                            <div>
                                <a class="btn btn-primary mx-1 px-3 mx-2 my-1 btn-sm float-left" href="#" role="button">@Model.Tours[i].Type</a>
                            </div>
                        </div>
                    </div>
                </div>

                counter++;
                numberToClose++;

                @if (numberToClose == 4)
                {
                    @Html.Raw("</div>")
                    counter = 0;
                    numberToClose = 0;
                }
            }
        </div>
    </div>



    <div class="mr-5 d-flex flex-row-reverse">
        @if (Model.Tours.Count >= 12)
        {
            <a asp-controller="Tour"
               asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="p-2 btn my-2 btn-primary ml-2">
                Next
            </a>
        }
        @if (Model.PageIndex - 1 >= 1)
        {
            <a asp-controller="Tour"
               asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="p-2 btn my-2 btn-primary ml-2">
                Previous
            </a>
        }
    </div>
</section><!-- End section 3 tours-->
<!-- Bootstrap and Jquery scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>

<!-- Aditional scripts -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/smooth-scroll.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/initslider.js"></script>
<script src="js/instafeed.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="css/font-awesome-animation.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">
<link rel="stylesheet" href="css/style.css" type="text/css">